body {
  padding: 10px 30px;
}

.demo-container {
  width: 400px;
  font-size: 14px;
  
  table {

    tbody {
      height: 170px;
      overflow-x: hidden;
      overflow-y: overlay;
    }

    th {
      text-align: left;
      user-select: none;
    }

    .amount {
      text-align: right;
    }
  }
}